{% extends 'base.html' %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->

<!-- 應用CSS -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/newpost.css' %}">
{{ block.super }}
{% endblock %}

{% block main %}
<div class="col-md-9">

    <form id="post-form" class="newpost-area" action="{% url 'newpost' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3 form-check d-flex justify-content-end">
            <button type="button" class="mx-2 btn btn-secondary">取消</button>
            <button type="submit" class="btn btn-primary">發文</button>
        </div>
    </form>
</div>
{% endblock %}

<!-- 應用JS -->
{% block scripts %}
<script src="{% static 'js/newpost.js' %}"></script>
{{ block.super }}
{% endblock %}