{% extends 'base.html' %}
{% load static %}

<!-- 應用CSS -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
{{ block.super }}
{% endblock %}

{% block main %}
<!-- 主內容 -->
<div class="col-md-9 post-container">
    {% for post in posts %}
    <div class="card mb-4 postarea" data-post-id="{{ post.id }}">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <!-- 文章標題 -->
                <h5 class="card-title">{{ post.title }}</h5>

                <!-- 文章操作 -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown">
                        ...
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <!-- url 會帶入路由 -->
                        <li><a class="dropdown-item" href="{% url 'update_post' post.id %}">編輯文章</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#deletePost{{ post.id }}">刪除文章</a></li>
                    </ul>
                </div>
            </div>
            <!-- 文章內容 -->
            <p class="card-text">{{ post.content }}</p>
        </div>
    </div>

    <!-- 確認刪除視窗 -->
    <div class="modal fade" id="deletePost{{ post.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePostLabel">確認刪除?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    此操作無法復原
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <!-- url 會帶入路由 -->
                    <button type="button" class="btn btn-danger delete-button"
                        data-delete-url="{% url 'delete_post' post.id %}">刪除</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}

<!-- 應用JS -->
{% block scripts %}
<script src="{% static 'js/post.js' %}"></script>
{{ block.super }}
{% endblock %}